
html, body {
	margin: 0px;
	padding: 0px;
}

#navigation_bar {
	position: relative;
	height: 23px;
	width: 1280px;
	top: 0px;
	left: 0px;
	background-color: grey;
}

#game {
	position: relative;
	top: 0px;
	left: 0px;
}
