
html, body {
	margin: 0px;
	padding: 0px;
}

#navigation_bar {
	position: relative;
	height: 23px;
	width: 1280px;
	top: 0px;
	left: 0px;
	background-color: grey;
}

#game {
	position: relative;
	top: 0px;
	left: 0px;
}

#navigation_money {
	position: relative;
	top: 1px;
	left: 640px;
	margin: 0px;
}
#navigation_research {
	position: relative;
	top: 1px;
	left: 768px;
	margin: 0px;
}
#navigation_production {
	position: relative;
	top: 1px;
	left: 896px;
	margin: 0px;
}
#navigation_crystals {
	position: relative;
	top: 1px;
	left: 1024px;
	margin: 0px;
}
#navigation_crystals {
	position: relative;
	top: 1px;
	left: 1152px;
	margin: 0px;
}
